@model Movies.Client.Models.UserInfoViewModel

@{
    ViewData["Title"] = "OnlyAdmin";
}

<table>
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserInfoDictionary)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Value)
                </td>
            </tr>
        }
    </tbody>
</table>